html,
body {
    width: 100%;
    height: 100%;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 70px;
}
.logos {
    position: relative;
    /*background: url('../img/background-with-logo-withfilter.jpg');  */
    /*padding-bottom: 100px;*/
}

.logos img{
    width: 100%;
    /*height: 90%;*/
}

.angular-red {
    color: #dc0301;
}
.navbar-brand {
    padding: 5px 20px;
}

.navbar-brand img {
    width: 20%;
    border-radius: 40%;
}

hr {
    border: 1px solid #737373;
    width: 80%;
    text-align: center;
    /*border: 1px solid black;*/
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


/*each section takes full page*/

section {
    height: 100vh;
    padding-top: 40px;
    margin-top: -40px;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

#divider {
    /*background: url('../img/divider.png') no-repeat;*/
    width: 300px;
    height: 35px;
    margin: 0px auto 27px auto;
    /*border: 1px solid black;*/
    /*background-color: lightGrey;*/
    /*position: absolute;*/
}

.cursive-font {
    font-family: 'Kalam', cursive;
}

#home-card {
    margin-top: 10%;
    text-align: center;
    font-family: 'Kalam', cursive;
}

.line1 {
    font-size: 70px;
}

.line2,
.line3 {
    font-size: 50px;
    width: 100%;
}

#reboot,
#projects,
#footer
{
    text-align: center;
}
#contact-head {
    text-align: center;
}

.skill {
    margin-bottom: 15px;
}

.skill img {
    width: 100px;
    height: 100px;
}


/*override the animation duration found in animate.css*/

#reboot {
    margin-bottom: 30px;
}

#projects,
#footer {
    margin-top: 85px;
    position: relative;
}


/*.project img {
    width: 80%;
    height: 300px;
}*/

.summary {
    background-color: #F8F8F8;
    background-size: cover;
    z-index: 5000;
}

.about-head {
    text-align: center;
    font: 20px bold italic;
    margin-top: 5px;
}

.summary-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 36px;
    text-decoration: none;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0;
}

.mg-tile {
    background: url("../img/express.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 220px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 2px;
    /*border: 4px solid lightgrey;*/
    box-shadow: 10px 10px 5px #888888;
}

.mg-tile-text {
    /*color: #ff011f;*/
    padding: 0 3px;
}

.try-btn {
    background: #737373;
    color: white;
    border-radius: 5px;
    padding: 0 5px 0 5px;
}

form {
    font-size: 16px;
}
.shorten {
    width: 60%;
}