/*

   http://www.webdesignerdepot.com/2012/11/how-to-create-a-simple-css3-tooltip/

   <a href="#" title="This is some info for out tooltip." class="tooltip">
      <span title="More"> CSS3 Tooltip</span>
   </a>
*/

.tooltip {
  display: inline;
  position: relative;

}

.tooltip:hover:after {
  background: #333;
  background: rgba(0,0,0,0);
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  content: attr(title);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;
}

.tooltip:hover:before {
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}